html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bitter', Helvetica;
  color: #A8A7A7;
  background-color: #363636
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: #f0f0f0;  Optional: background color for visibility */
  box-sizing: border-box;
  padding: 20px; /* Adjust the padding as needed */
  border: 2px solid #E8175D; /* Thin black border */
  border-radius: 50px;
  min-width: fit-content;
}

.intro {
  flex-direction: column;
  align-content: center;
  text-align: center;
  line-height: normal;
  text-wrap: pretty;
  padding: 20px;
  /*border: 4px solid darkslategray;  Optional: border color for visibility*/
  /*background: skyblue;  Optional: background color for visibility*/
}

.greeting {
  border-bottom: 2px solid #E8175D;  /*Optional: border color for visibility*/
  /* background: skyblue;  Optional: background color for visibility*/
}

.tagline {
  text-align: left;
  color: #A8A7A7;
  /* border: 4px solid darkslategray;  Optional: border color for visibility*/
  /* background: skyblue;  Optional: background color for visibility*/
}